severity = 3
verbose  = [%p] %m at line %l near '%r' in %F (Severity %s)\n

[BadStrings]
words = TODO

[-RegularExpressions::RequireExtendedFormatting]
[-Subroutines::RequireFinalReturn]
[-Subroutines::ProhibitSubroutinePrototypes]
[-Subroutines::ProhibitBuiltinHomonyms]
